# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# Environments
.env
.env.*
.venv/
venv/

# Build / dist
build/
dist/
*.log

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# Node / JS
node_modules/

# OS
.DS_Store
